Sorter workflow (removed credentials).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "{{PLACEHOLDER_ID}}"
        },
        "folderId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "id"
        }
      },
      "id": "57ad0c45-0df7-4562-b17b-c9c09f9c146d",
      "name": "Move File into Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -432
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "list",
          "cachedResultName": "{{FOLDER_NAME}}",
          "cachedResultUrl": "{{FOLDER_URL}}"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "e355b7f4-a039-40be-9ac2-78c98c3ca0f9",
      "name": "File Added to Master Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4de384e6-e4fb-4253-8a31-0c2b8ec22d4a",
      "name": "Download New File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        -912
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "11a595c1-df5e-420c-8727-5eb7c8f3908e",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1376,
        -736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fccdd5e4-c003-4f64-b302-bdd611e3c40a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "973bfca5-9c68-4d4f-af80-58cd92354f40",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d04cb92b-b0bb-4c36-8f9c-eee077b96d31",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -544
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0b5b1515-8243-48d1-8c9f-60f7df8c2a70",
      "name": "Merge file name, id and text info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1168,
        -640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b687a32d-5a57-4a54-bba5-bad99aa320e5",
              "name": "parents[0]",
              "value": "={{ $json.parents[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9fb278ed-0d2d-491b-84eb-462346b22c4e",
      "name": "Extract Parent Folder ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6538cec4-f096-47b7-8abb-ef8e20511423",
              "leftValue": "={{ $json.message.content.toBoolean() }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "033871ac-e9e2-4d67-89b9-b884f45c659e",
      "name": "If Backwards...",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        -736
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "58166a4c-abab-460d-aeea-34ec864ef3e4",
      "name": "Merge Subfolders List and Fixed File",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -880,
        -448
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "list",
          "cachedResultName": "{{FOLDER_NAME}}"
        },
        "messages": {
          "values": [
            {
              "content": "=Determine the most appropriate folder from the available folder names: {{ JSON.stringify($json.files.map(file => file.name)) }}  name fields. Based on the file's content: {{ $json.text }}, your response must be exactly one of the folder names provided and should be the best match for organizing the file. Not in quotation marks."
            }
          ]
        },
        "options": {}
      },
      "id": "ac6ba551-4673-407d-bc72-b58f2f828189",
      "name": "Pick Correct Folder for File",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -736,
        -448
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "545a268d-a4b7-480d-9198-1a7737941178",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        48,
        -432
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "88738181-f7d0-49e3-81a0-3b7f73541c69",
      "name": "Merge OpenAI folder choice with folders",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -416,
        -304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const folderName = $json.message.content.trim();  \nconst folder = $json.files.find(file => file.name.trim() === folderName); \nreturn folder ? { folderId: folder.id } : { error: \"Folder not found\" } ; \n"
      },
      "id": "755bd323-add6-4bac-b5a2-9465e4d154bb",
      "name": "Finds Folder ID from Folder Name Choice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -352
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_ID}}",
          "mode": "list",
          "cachedResultName": "{{FOLDER_NAME}}"
        },
        "messages": {
          "values": [
            {
              "content": "=Determine from this pdf file if this file is or isn't reverse in page order. Look at the page content of the first and last page (unless the document is only one page long), if the last page is more likely to be the first page, then the document is likely reversed. Only provide a boolean answer, 1 if it is reverse page order, 0 if not"
            }
          ]
        },
        "options": {}
      },
      "id": "de0f532b-7782-49c3-8e0b-f21ebd788d78",
      "name": "Determine if Backwards",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -992,
        -736
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\nimport os\nfrom PyPDF2 import PdfReader, PdfWriter\n\ndef reverse_pdf_pages(file_path):\n    # Does the given file path actually exist?\n    if not os.path.isfile(file_path):\n        print(f\"Error: File '{file_path}' not found.\")\n        return\n\n    # Read input PDF\n    reader = PdfReader(file_path)\n    writer = PdfWriter()\n\n    # Reverse the order of pages\n    for page in reversed(reader.pages):\n        writer.add_page(page)\n\n    # Save to a temporary file first\n    temp_path = file_path + \".tmp\"\n    with open(temp_path, \"wb\") as temp_file:\n        writer.write(temp_file)\n\n    # Replace the original file with the reversed PDF\n    os.replace(temp_path, file_path)\n    print(f\"Reversed PDF saved: {file_path}\")\n\nif __name__ == \"__main__\":\n    # This block checks that the script is being run with exactly one argument.\n    if len(sys.argv) != 2:\n        print(\"Usage: python reverse_pdf.py <file_path>\")\n    else:\n        # If exactly one argument was provided, process.\n        reverse_pdf_pages(sys.argv[1])"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -816
      ],
      "id": "d7d2b337-df41-48e7-a640-1fcb57e414fc",
      "name": "Flip PDF"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "='{{$json[\"parents\"][0]}}' in parents and mimeType='application/vnd.google-apps.folder' and trashed=false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "1707f8e0-6f5c-4c26-a064-fdeb440d25c1",
      "name": "Access Drive Subfolders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        -208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "File Added to Master Folder": {
      "main": [
        [
          {
            "node": "Download New File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Parent Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download New File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flip PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Determine if Backwards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge file name, id and text info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge file name, id and text info": {
      "main": [
        [
          {
            "node": "Merge Subfolders List and Fixed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge file name, id and text info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Parent Folder ID": {
      "main": [
        [
          {
            "node": "Access Drive Subfolders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Subfolders List and Fixed File": {
      "main": [
        [
          {
            "node": "Pick Correct Folder for File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Correct Folder for File": {
      "main": [
        [
          {
            "node": "Merge OpenAI folder choice with folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Move File into Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge OpenAI folder choice with folders": {
      "main": [
        [
          {
            "node": "Finds Folder ID from Folder Name Choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finds Folder ID from Folder Name Choice": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Determine if Backwards": {
      "main": [
        [
          {
            "node": "If Backwards...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Backwards...": {
      "main": [
        [
          {
            "node": "Flip PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flip PDF": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Drive Subfolders": {
      "main": [
        [
          {
            "node": "Merge Subfolders List and Fixed File",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge OpenAI folder choice with folders",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69c2eb8ceb612f1038ead63fe1c0875ae79241eb903452d7845566da31bb7d6e"
  },
  "tags": []
}